.porudzbine-container {
  margin-top: 20px;
}

.porudzbina-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.vozilo-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.vozilo-image img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.vozilo-info p {
  margin: 0;
  font-size: 16px;
}

.narudzba-id {
  font-size: 18px;
  font-weight: bold;
}

.cena-narudzbe {
  margin-top: 5px;
  font-size: 16px;
  color: #007bff;
}

.status-narudzbe {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.buttonDetalji {
  font-size: 13px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonOceniObjekat {
  font-size: 13px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonAddVehicle {
  font-size: 13px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
}

.form-group textarea,
.form-group input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.submitButton {
  font-size: 13px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}