.profile {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
}

.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 8px;
}

.profile-info button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px;
}


.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.form-group button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group button.cancel {
  background-color: #f44336;
}

